*{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

body{
  //overflow: hidden;
}

.mobile-open{
  overflow: hidden;
}

.modal-open{
  overflow: hidden;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.heading{
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  @include md{
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__bg{
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    opacity: .2;
    color: #b0bec5;
    @include md{
      font-size: 30px;
    }
    @include sm{
      font-size: 25px;
    }
  }
  &__main{
    margin-top: -18px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    color: #2c3e50;
    @include md{
      margin-top: -10px;
      font-size: 20px;
    }
    @include sm{
      font-size: 17px;
    }
  }
}

.space-between{
  justify-content: space-between;
}