@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 14px; }
  body.stop-scroll {
    overflow: hidden;
    height: 100vh;
    padding-right: 16px; }
    body.stop-scroll .header {
      padding-right: 16px; }

a {
  text-decoration: none;
  color: #000; }

.btn {
  padding: 15px 30px;
  margin: 20px 0;
  display: inline;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer; }
  .btn--yellow {
    color: #333;
    border-bottom: 3px solid #EDA020;
    -webkit-box-shadow: 0px 2px 7px rgba(255, 222, 92, 0.4);
            box-shadow: 0px 2px 7px rgba(255, 222, 92, 0.4);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #f4bf00;
    background: -webkit-linear-gradient(left, #f4bf00 0%, #ffde5c 100%);
    background: -webkit-gradient(linear, left top, right top, from(#f4bf00), to(#ffde5c));
    background: -o-linear-gradient(left, #f4bf00 0%, #ffde5c 100%);
    background: linear-gradient(to right, #f4bf00 0%, #ffde5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4bf00', endColorstr='#ffde5c',GradientType=1 ); }
    .btn--yellow:hover {
      -webkit-box-shadow: 0px 2px 10px rgba(255, 222, 92, 0.7);
              box-shadow: 0px 2px 10px rgba(255, 222, 92, 0.7); }
  .btn--red {
    color: #fff;
    background: #F44336;
    border-bottom: 3px solid #CD6155; }

.main-nav__list {
  padding: 0;
  margin: 0; }

.main-nav__item {
  display: inline-block; }

.main-nav__link {
  margin-right: 10px;
  font-size: 18px;
  text-transform: uppercase; }
  .main-nav__link:hover {
    color: #fc0; }

.mobile-nav {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd; }
  .mobile-nav__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .mobile-nav__item {
    margin-bottom: 10px; }
  .mobile-nav__link {
    text-transform: uppercase;
    font-size: 18px; }
    .mobile-nav__link:hover {
      color: #fc0; }

.socials {
  margin: 0;
  padding: 0; }
  .socials__item {
    display: inline-block;
    margin-right: 10px; }
    .socials__item:last-child {
      margin-right: 0; }
  .socials .fab {
    font-size: 20px; }
    .socials .fab:hover {
      opacity: .8; }
    .socials .fab.fa-vk {
      color: #3f8ae0; }
    .socials .fab.fa-instagram {
      background: #833ab4;
      background: -webkit-linear-gradient(top, #833ab4 0%, #e1306c 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(#833ab4), to(#e1306c));
      background: -o-linear-gradient(top, #833ab4 0%, #e1306c 100%);
      background: linear-gradient(to bottom, #833ab4 0%, #e1306c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#833ab4', endColorstr='#e1306c',GradientType=0 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .socials--rounded-wb .fab {
    background: #fff;
    padding: 5px;
    font-size: 16px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .socials--rounded-wb .fab.fa-vk {
      color: #000; }
    .socials--rounded-wb .fab.fa-instagram {
      color: #000;
      background: #fff;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .container-f {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: #fff; }
  .header.scrolled {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
    .header.scrolled .container {
      height: 50px; }
    .header.scrolled .phone-link {
      margin-bottom: 0; }
    .header.scrolled .work-time {
      display: none; }
    .header.scrolled .logo {
      margin-bottom: 0; }
      .header.scrolled .logo img {
        height: 40px; }
    .header.scrolled .main-nav {
      display: none; }
    .header.scrolled .adress {
      display: none; }
    .header.scrolled .hamburger-menu {
      display: block; }
  .header__left-pos {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__center-pos {
    width: 40%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__right-pos {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header__right-pos .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .header .container {
    height: 120px;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s; }
  .header:after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 12px;
    display: block;
    background-image: url("../img/header_deco.png");
    background-position: center;
    -webkit-background-size: contain;
            background-size: contain; }

.logo {
  margin-bottom: 20px; }
  .logo--fadeIn {
    -webkit-animation: logoFadeIn .2s;
            animation: logoFadeIn .2s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

@-webkit-keyframes logoFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes logoFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
  .logo img {
    height: 70px; }

.phone-link {
  font-size: 20px;
  margin-bottom: 15px; }
  .phone-link:hover {
    color: #ffcc00; }
  .phone-link .fas.fa-phone {
    margin-right: 10px; }

.work-time {
  margin: 0 0 5px; }
  .work-time:last-child {
    margin: 0; }

.adress {
  margin-bottom: 15px;
  font-size: 16px;
  font-style: normal; }
  .adress i {
    margin-right: 10px; }
  .adress-mob {
    margin-top: 10px;
    text-align: center; }
    .adress-mob i {
      margin-right: 10px; }

.hamburger-menu {
  display: none;
  margin-left: 20px;
  border: none;
  background: none;
  cursor: pointer; }
  .hamburger-menu .fa-bars {
    font-size: 20px; }

.mobile-menu {
  display: none;
  padding: 20px;
  position: absolute;
  top: 100%;
  background: #fff;
  min-width: 300px;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: mobileMenuFadeIn .2s;
          animation: mobileMenuFadeIn .2s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes mobileMenuFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes mobileMenuFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
  .mobile-menu.open {
    display: block; }
  .mobile-menu .work-time {
    display: block !important;
    text-align: center; }

.cart {
  margin-right: 20px;
  position: relative;
  cursor: pointer; }
  .cart__marker {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 15px;
    height: 15px;
    color: #fff;
    background: #F44336;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10px;
    line-height: 1;
    padding: 0;
    margin: 0; }
  .cart .fa-shopping-cart {
    font-size: 20px; }

.cart-menu {
  display: none;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 100%;
  background: #fff;
  min-width: 300px;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: mobileMenuFadeIn .2s;
          animation: mobileMenuFadeIn .2s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .cart-menu.open {
    display: block; }
  .cart-menu__item {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .cart-menu__name {
    min-width: 134px;
    text-align: left; }
  .cart-menu__order-btn {
    margin-bottom: 0; }
  .cart-menu__delete-item {
    background: transparent;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 0;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    background: #F44336; }
    .cart-menu__delete-item .fas {
      color: #fff; }
  .cart-menu__summary {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 3px solid #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .cart-menu__summary-numb {
      font-size: 22px;
      font-weight: 600; }

.banner {
  height: 100vh;
  background: #000;
  background-image: url("../img/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden; }
  .banner .container {
    height: 100%;
    position: relative; }
  .banner__left-column {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1; }
  .banner__text-1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffcc00;
    -webkit-animation: text1FadeIn .7s;
            animation: text1FadeIn .7s; }

@-webkit-keyframes text1FadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes text1FadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
  .banner__text-2 {
    margin: 0;
    font-size: 40px;
    color: #fff;
    -webkit-animation: text2FadeIn .7s;
            animation: text2FadeIn .7s;
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

@-webkit-keyframes text2FadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes text2FadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
  .banner__order-btn {
    -webkit-animation: btnFadeIn .7s;
            animation: btnFadeIn .7s;
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

@-webkit-keyframes btnFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes btnFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
  .banner__parallax-imgs {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: imgsFadeIn .7s;
            animation: imgsFadeIn .7s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

@-webkit-keyframes imgsFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes imgsFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .banner__img-1 {
    position: absolute !important;
    width: 100%;
    left: unset !important;
    top: 20% !important;
    right: 0 !important;
    max-width: 500px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .banner__img-2 {
    position: absolute !important;
    width: 100%;
    left: unset !important;
    top: 15% !important;
    right: -5% !important;
    max-width: 250px; }
  .banner__img-3 {
    position: absolute !important;
    width: 100%;
    left: unset !important;
    top: 55% !important;
    right: 35% !important;
    max-width: 200px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .banner__img-4 {
    position: absolute !important;
    width: 100%;
    left: unset !important;
    top: 20% !important;
    right: 20% !important;
    max-width: 350px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .banner__img-5 {
    position: absolute !important;
    width: 100%;
    left: unset !important;
    top: 30% !important;
    right: 30% !important;
    max-width: 200px; }
  .banner__img-6 {
    position: absolute !important;
    width: 100%;
    left: unset !important;
    top: 80% !important;
    max-width: 350px;
    right: 0% !important;
    -webkit-filter: blur(2px);
            filter: blur(2px); }
  .banner__img-7 {
    position: absolute !important;
    width: 100%;
    left: unset !important;
    top: 60% !important;
    right: 15% !important;
    max-width: 300px; }

.section-heading {
  margin: 20px 0 30px;
  font-size: 34px;
  text-align: center; }

.assortment {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden; }
  .assortment__wrap {
    overflow: auto; }
  .assortment__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .assortment__item {
    position: relative;
    padding: 20px;
    margin: 0 12px 20px;
    width: -webkit-calc(25% - 24px);
    width: calc(25% - 24px);
    float: left;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    overflow: hidden;
    text-align: center;
    background: #F3F2F3;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); }
    .assortment__item:hover {
      background: #2A0A02; }
      .assortment__item:hover .assortment__item-title {
        color: #fff; }
      .assortment__item:hover .assortment__item-ingredients {
        color: #fff; }
      .assortment__item:hover .assortment__item-img {
        -webkit-animation: assortmentImgAnimation .3s;
                animation: assortmentImgAnimation .3s; }

@-webkit-keyframes assortmentImgAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes assortmentImgAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
      .assortment__item:hover .add-item-block__quantity {
        color: #fff; }
    .assortment__item.ordered:after {
      content: '';
      position: absolute;
      top: -30%;
      left: -40%;
      width: 200%;
      height: 140%;
      background: #ABEBC6;
      -webkit-animation: orderedItemAnimation .5s;
              animation: orderedItemAnimation .5s; }

@-webkit-keyframes orderedItemAnimation {
  0% {
    -webkit-transform: rotate(45deg) translate(-100%, 10px);
            transform: rotate(45deg) translate(-100%, 10px); }
  100% {
    -webkit-transform: rotate(45deg) translate(0%, 10px);
            transform: rotate(45deg) translate(0%, 10px); } }

@keyframes orderedItemAnimation {
  0% {
    -webkit-transform: rotate(45deg) translate(-100%, 10px);
            transform: rotate(45deg) translate(-100%, 10px); }
  100% {
    -webkit-transform: rotate(45deg) translate(0%, 10px);
            transform: rotate(45deg) translate(0%, 10px); } }
    .assortment__item.ordered:hover .assortment__item-title {
      color: #333; }
    .assortment__item.ordered:hover .assortment__item-ingredients {
      color: #333; }
    .assortment__item.ordered:hover .add-item-block__quantity {
      color: #333; }
    .assortment__item.ordered .add-item-block button {
      cursor: not-allowed;
      pointer-events: none;
      border-bottom: 3px solid #AEB6BF;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: #EBEDEF; }
    .assortment__item.ordered .addToCart {
      display: none; }
    .assortment__item.ordered .deleteFromCart {
      display: block;
      margin: 20px auto; }
    .assortment__item.ordered-fadeOut .deleteFromCart {
      cursor: not-allowed;
      pointer-events: none; }
    .assortment__item.ordered-fadeOut.ordered:after {
      content: '';
      position: absolute;
      top: -30%;
      left: -40%;
      width: 200%;
      height: 140%;
      background: #ABEBC6;
      -webkit-animation: orderedItemAnimation2 .5s;
              animation: orderedItemAnimation2 .5s;
      -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes orderedItemAnimation2 {
  0% {
    -webkit-transform: rotate(45deg) translate(5%, 10px);
            transform: rotate(45deg) translate(5%, 10px); }
  100% {
    -webkit-transform: rotate(45deg) translate(100%, 10px);
            transform: rotate(45deg) translate(100%, 10px); } }

@keyframes orderedItemAnimation2 {
  0% {
    -webkit-transform: rotate(45deg) translate(5%, 10px);
            transform: rotate(45deg) translate(5%, 10px); }
  100% {
    -webkit-transform: rotate(45deg) translate(100%, 10px);
            transform: rotate(45deg) translate(100%, 10px); } }
    .assortment__item-img {
      padding-bottom: 90%;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      position: relative;
      z-index: 1; }
    .assortment__item-title {
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      position: relative;
      z-index: 1; }
    .assortment__item-ingredients {
      margin-top: 0;
      line-height: 20px;
      height: 40px;
      font-weight: 400;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      position: relative;
      z-index: 1;
      cursor: pointer; }
    .assortment__item button {
      position: relative;
      z-index: 1; }
    .assortment__item .addToCart {
      -webkit-animation: buttonFadeIn .6s;
              animation: buttonFadeIn .6s; }

@-webkit-keyframes buttonFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
    .assortment__item .deleteFromCart {
      display: none;
      -webkit-animation: buttonFadeIn .6s;
              animation: buttonFadeIn .6s; }

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
    .assortment__item-type {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 20px;
      background: #fff75d;
      background: -webkit-linear-gradient(top, #fff75d 0%, #fe650d 49%, #a10100 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(#fff75d), color-stop(49%, #fe650d), to(#a10100));
      background: -o-linear-gradient(top, #fff75d 0%, #fe650d 49%, #a10100 100%);
      background: linear-gradient(to bottom, #fff75d 0%, #fe650d 49%, #a10100 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff75d', endColorstr='#a10100',GradientType=0 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1; }
  .assortment__deco-rellax-items .rellax {
    position: absolute; }
    .assortment__deco-rellax-items .rellax-item1 {
      top: 0;
      left: 0;
      max-width: 300px; }
    .assortment__deco-rellax-items .rellax-item2 {
      top: -10%;
      right: 0;
      max-width: 200px; }
    .assortment__deco-rellax-items .rellax-item3 {
      bottom: 30%;
      right: 0; }
  .assortment__order-btn {
    text-align: center; }

.add-item-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 1; }
  .add-item-block__btn {
    padding: 5px 10px;
    margin: 0; }
  .add-item-block__quantity {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .add-item-block__quantity > span:first-child {
      font-size: 26px; }

.about-us {
  height: 100vh;
  background-image: url("../img/about_us.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.overlay-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .overlay-menu.open {
    display: block; }

.tooltip.ingredients {
  position: absolute;
  top: -webkit-calc(-100% - 30px);
  top: calc(-100% - 30px);
  left: 0;
  margin: 0;
  background: #f4bf00;
  background: -webkit-linear-gradient(left, #f4bf00 0%, #ffde5c 100%);
  background: -webkit-gradient(linear, left top, right top, from(#f4bf00), to(#ffde5c));
  background: -o-linear-gradient(left, #f4bf00 0%, #ffde5c 100%);
  background: linear-gradient(to right, #f4bf00 0%, #ffde5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4bf00', endColorstr='#ffde5c',GradientType=1 );
  color: #333;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: 600;
  -webkit-animation: tooltipFadeIn .5s;
          animation: tooltipFadeIn .5s; }

@-webkit-keyframes tooltipFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes tooltipFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
